<ul>
  <% Classroom.all.each do |classroom| %>
    <li>
      <%= classroom.room %> - 
      <%= classroom.instructor.nil? ? "Sem instrutor" : classroom.instructor.name %>
    </li>
  <% end %>
</ul>
